*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}
header{
    height: 85vh;
    background-image: linear-gradient(0deg, rgba(6,15,6,0.8379726890756303) 0%, rgba(33,182,27,0.4766281512605042) 100%), url('media/froggo_header.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
    position: relative;
}
.logo_box{
position: absolute;
top: 20px;
left: 20px;
}
.logo{
    height: 70px;
}
.titulo{
    display: block;
    
    font-weight: 700;
    letter-spacing: 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main_title{
    font-size: 70px;
    display: block;
    animation-name: moveup;
    animation-duration: 3s;
}
.subtitle{
    font-size: 35px;
    display: block;
    animation-name: moveleft;
    animation-duration: 5s;
}
@keyframes moveup{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveleft{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    65%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}